
.head-section {
    color: #4a4a4a;
    font-weight: lighter;
}

.md-body-1 {
    line-height: 1.7em;
}

.md-body-3 {
    line-height: 1.8em;
}

.white {
    color: white;
}

a {
    color: initial;
}

.md14 {
    font-size: 14px;
}

/*********/

#login-area {
    overflow: hidden;
    background: white;
    /*height: calc(100vh - 50px);*/
}

#home-page-main {
    background-image: url("images/network.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: bottom;

    padding-bottom: 8%;
}

.main-header-background {
    background-color: rgba(255,255,255,0.9);
}

#features {
    background-color: whitesmoke;
    padding-bottom: 100px;
}

#team {
    background-image: url("./images/network_frost.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: bottom;

    padding-bottom: 100px;
}

.team-person-title {
    background-color: #dddddd;
    padding-top: 8px;
    padding-bottom: 8px;
}

.team-person-text {
    padding: 10px;
}

#sponsors {
    padding-bottom: 100px;
}

.sponsor {
    min-height: 100px;
}

#contact-us {
    color: white;
    background-color: #414042;
}

.design-by {
    opacity: 0.2;
}

/**/

.card-no-shadow {
    background: none !important;
    box-shadow: none !important;
}