
<!-- Top bac -->

<section id="top" layout="row" layout-align="center center" flex="auto">

    <div flex="10">
    </div>
    
    <div id="main-top" flex="auto">
        <div id="title"
             layout-padding
             ng-class="{headerDark: darkTheme}"
             md-colors="::{color: '{{theme}}-primary'}">
            <h2 hide show-gt-sm class="md-title thin">University of Alberta </h2>
            <h3 hide-gt-sm class="md-body-2 thin">University of Alberta</h3>   
        </div>
    </div> 

    <div flex="nogrow">
        <md-button ng-click="toggleLoginArea(true)" class="login-button">Administrator Login</md-button>
    </div>
</section>

<!-- Login area (hidden) -->
<section id="login-area" layout="row" flex="auto">
    <div flex="100" ng-if=loginArea>
        <md-divider ></md-divider>
        <div layout-padding ng-include="'/components/login/login-form.html'"></div>
    </div>
</section>

<!-- Main -->
<md-divider></md-divider>
<section id="home-page-main" layout="column" flex="auto">

    <div class="main-header-background">

        <div layout="row" flex="100">

            <div layout="column" flex-xs="5" flex-sm="10" flex="20"></div>
            <div layout="column" flex-xs="90" flex-sm="80" flex="60">
            	<h2 hide show-xs class="md-headline text-center">Research Map of the Arts,<br/>Humanities and Social Sciences</h2>
            	<h2 hide show-sm class="md-display-1 text-center">Research Map of the Arts,<br/>Humanities and Social Sciences</h2>
                <h2 hide show-gt-sm class="md-display-2 text-center">Research Map of the Arts,<br/>Humanities and Social Sciences</h2>
            </div>
            <div layout="column" flex-xs="5" flex-sm="10" flex="20"></div>
        </div>

        <div layout="row" flex="100">
            <div layout="column" flex-xs="5" flex-sm="10" flex="20"></div>
            <div layout="column" flex-xs="90" flex-sm="80" flex="60">
                <div class="md-body-3 intro">
                    <p>The Office of the Vice President (Research) and the Kule Institute for Advanced Study are collaborating to develop a picture of the richness and variety of social sciences, humanities and fine arts (SSHA) research at the University of Alberta. To that end we developed a digital Research Map (in beta) based on the websites of all SSHA departments and their full-time faculty members. The tool maps faculty members and their research keywords as well as the connections between them, and includes a web-based search interface with network data visualization. We hope this will help us identify new interdisciplinary connections in support of building research capacity and help research administrators appreciate the heterogeneous network of research undertaken in the U of A community.</p>
                    <p>We realize there are limitations in our data collection methods, but we believe that this map can show some of the variety of research keywords and associated researchers at the UofA without imposing yet another administrative task on researchers. Corrections and/or additions to the data can be requested through a short <a href="https://goo.gl/forms/st5gtciv2k0Q0Mip2" target="_blank">Google Form</a>.</p>
                    <div layout="column" flex-xs="5" flex-sm="10" flex="20"></div>
                </div>
                <md-button ng-click="guestLogin()" class="enter-button">Enter</md-button>
            </div>
            
        </div>

    </div>

    <md-divider></md-divider>

    <div layout="row" flex="100" layout-fill style="min-height: 150px;">
        <div layout="column" flex-xs="45" flex-sm="45" flex="45"></div>
        <div layout="column" flex-xs="10" flex-sm="10" flex="10" layout-align="center end"></div>
        <div layout="column" flex-xs="45" flex-sm="45" flex="45"></div>
    </div>
    
</section>

<!-- Features -->
<md-divider></md-divider>
<section id="features" layout="row" flex="auto">

    <div layout="column" flex-xs="5" flex-sm="10" flex="20"></div>

    <div layout="column" flex-xs="90" flex-sm="80" flex="60">
    	<h1 hide show-xs show-sm class="md-headline head-section">Features</h1>
        <h1 hide show-gt-sm class="md-display-1 head-section">Features</h1>

        <h3 hide show-sm class="md-subhead">Dataset</h3>
        <h3 hide show-gt-sm class="md-title">Dataset</h3> 
        <div layout="row" flex="auto">
            <div layout="column" flex-xs="100" flex="70">
                 <p class="md-body-1">Our dataset includes researchers from 11 SSHA faculties, their research interests and departments based on a web scrape of University of Alberta websites. These are separated into corresponding categories in the ‘Tags’ menu of the side panel that can be searched either by using the search icon or manually reviewing the list. The visualization is populated as you select and deselect tags. The nodes represent tags (Researchers, Departments, and Interests), and the lines the connection between them. For a detailed description of functionalities please use the ‘Help’ menu located at the bottom section of the side panel in the visualization interface.</p>
            </div>
            <div layout="column" hide-xs flex="5"></div>
            <div layout="column" hide-xs flex="20">
                <div>
                    <md-button><md-icon md-colors="::{color: '{{theme}}-warn'}" md-font-icon="material-icons md-18">label</md-icon>Researchers</md-button>
                    <md-button><md-icon md-colors="::{color: '{{theme}}-warn'}" md-font-icon="material-icons md-18">label</md-icon>Interests</br></md-button>
                    <md-button><md-icon md-colors="::{color: '{{theme}}-warn'}" md-font-icon="material-icons md-18">label</md-icon>Deparments</br></md-button>
                </div>
            </div>
        </div>

       
        <div layout="row" flex="auto">
            <div layout="column" flex-xs="100" flex-gt-xs="50">
                <div>
                	<h3 hide show-sm class="md-subhead">Layout</h3>
                    <h3 hide show-gt-sm class="md-title">Layout</h3>
                    <p class="md-body-1">The layout menu in the side panel provides additional customization options and can be accessed by clicking on the network icon at the bottom section of the side panel. These additional options include:
                    <br/>
                    <md-icon md-font-icon="material-icons md-18"><i class="material-icons">keyboard_arrow_right</i></md-icon>choosing between network and cluster view; 
                    <br/>
                    <md-icon md-font-icon="material-icons md-18"><i class="material-icons">keyboard_arrow_right</i></md-icon>adjusting how nodes react to each other through gravity, charge, distance, and collision detection; 
                    <br/>
                    <md-icon md-font-icon="material-icons md-18"><i class="material-icons">keyboard_arrow_right</i></md-icon>changing the weight, size and color of nodes (color coding can applied by type of tags or by community; the latter is calculated by an algorithm that finds similar clusters based on the number of shared connections);
                    <br/>
                    <md-icon md-font-icon="material-icons md-18"><i class="material-icons">keyboard_arrow_right</i></md-icon>changing title and network link size and color.</p>
                </div>
                <div>
               		<h3 hide show-sm class="md-subhead">Dataset</h3>
                    <h3 hide show-gt-sm class="md-title">Export</h3>
                    <p class="md-body-1">Eport the data or graphic from the on-screen visualization.
                    <br/>
                    <md-icon md-font-icon="material-icons md-18"><i class="material-icons">keyboard_arrow_right</i></md-icon>Data: CSV and JSON options. Both options contains the nodes (researchers, interests, and departments) and their relationship to other nodes.
                    <br/>
                    <md-icon md-font-icon="material-icons md-18"><i class="material-icons">keyboard_arrow_right</i></md-icon>Graph: PNG and SVG options. The PNG option generates a raster file with transparent background. All the nodes and links currently present in the visualization. The SVG option generates a vector-based file that can be opened in the browser or in any vector-based image editor.</p>
                </div>
            </div>
            <div layout="row" layout-fill hide-xs flex-gt-xs="50">
                <md-card class="card-no-shadow" flex="100">
                    <img src="/images/layout_feature.png" class="md-card-image">
                </md-card>
            </div>
        </div>


    </div>

    <div layout="column" flex-xs="5" flex-sm="10" flex="20"></div>

</section>

<!-- Team -->
<md-divider></md-divider>
<section id="team" layout="column" flex="auto">

    <div layout="row">
        <div layout="column" flex-xs="5" flex-sm="10" flex="20"></div>
        <div layout="column" flex-xs="90" flex-sm="80" flex="60">
       		<h1 hide show-xs show-sm class="md-headline head-section">Team</h1>
            <h1 hide show-gt-sm class="md-display-1 head-section">Team</h1>
        </div>
        <div layout="column" flex-xs="5" flex-sm="10" flex="20"></div>
    </div>
    
    <div layout="row">
        <div layout="column" flex-xs="5" flex-sm="10" flex="20"></div>
        <div layout="column" flex-xs="90" flex-sm="80" flex="60">

            <div layout="row" layout-xs="column" layout-align="space-around">

				<md-card flex-gt-xs="45">
	                <md-card-title class="team-person-title">
	                    <md-card-title-text>
	                    <span hide show-xs show-sm class="md-body-2">Susan Hamilton</span>
	                        <span hide show-gt-sm class="md-title">Susan Hamilton</span>
	                    </md-card-title-text>
	                </md-card-title>
	                <md-card-content class="team-person-text">
	                    <p class="md-body-1">Associate Vice-President (Research)<br/>Office of the Vice-President (Research)</p>
	                </md-card-content>
	            </md-card>

	            <md-card flex-gt-xs="45">
	                <md-card-title class="team-person-title">
	                    <md-card-title-text>
	                     	<span hide show-xs show-sm class="md-body-2">Geoffrey Rockwell</span>
	                        <span hide show-gt-sm class="md-title">Geoffrey Rockwell</span>
	                    </md-card-title-text>
	                </md-card-title>
	                <md-card-content class="team-person-text">
	                    <p class="md-body-1">Director<br/>Kule Institute for Advanced Study</p>
	                </md-card-content>
	            </md-card>
                      
            </div>

            <div layout="row" layout-xs="column" layout-align="space-around">

                <md-card flex-gt-xs="45">
                <md-card-title class="team-person-title">
                    <md-card-title-text>
                    	<span hide show-xs show-sm class="md-body-2">Adam Dombovari</span>
                        <span hide show-gt-sm class="md-title">Adam Dombovari</span>
                    </md-card-title-text>
                </md-card-title>
                <md-card-content class="team-person-text">
                    <p class="md-body-1">Program Coordinator<br/>Kule Institute for Advanced Study</p>
                </md-card-content>
                </md-card>

                <md-card flex-gt-xs="45">
                <md-card-title class="team-person-title">
                    <md-card-title-text>
                    	<span hide show-xs show-sm class="md-body-2">Luciano Frizzera</span>
                        <span hide show-gt-sm class="md-title">Luciano Frizzera</span>
                    </md-card-title-text>
                </md-card-title>
                <md-card-content class="team-person-text">
                     <p class="md-body-1">Web Application Developer <a href="http://luciano.fluxo.art.br" target="_blank"><md-icon md-colors="::{color: '{{theme}}-primary'}" md-font-icon="material-icons md-14"><i class="material-icons">exit_to_app</i></md-icon></a><br/>&nbsp;</p>
                </md-card-content>
                </md-card>
            </div>

        </div>

        <div layout="column" flex-xs="5" flex-sm="10" lex="20"></div>
    </div>
</section>

<!-- sponsors -->
<md-divider></md-divider>
<section id="sponsors" layout="row" layout-padding flex="auto">

        <div layout="column" flex-xs="5" flex-sm="10" flex="20"></div>
        
        <div layout="column" flex-xs="90" flex-sm="80" flex="60">
        	<h1 hide show-xs show-sm class="md-headline head-section">Sponsors</h1>
            <h1 hide show-gt-sm class="md-display-1 head-section">Sponsors</h1>

            <div layout-xs="column" layout="row" layout-align-gt-xs="space-around" layout-pading>
                <md-card class="sponsor card-no-shadow" flex="35" flex-sm="80" flex-xs="100">
                    <img src="/images/ua-ovpr.png" class="md-card-image" alt="University of Alberta - Office of the Vice-President (Research)">
                </md-card>

                <md-card class="sponsor card-no-shadow" flex="45" flex-sm="100" flex-xs="100">
                    <img src="/images/ua-kias.png" class="md-card-image" alt="University of Alberta - Kule Institute for Advanced Study">
                </md-card>
                      
            </div>

        </div>

       <div layout="column" flex-xs="5" flex-sm="10" flex="20"></div>

</section>

<!-- Contact -->
<md-divider></md-divider>
<section id="contact-us" layout="row" layout-xs="column" layout-padding flex="auto">

        <div layout="column" flex="10" flex-sm="0">
        </div>
        
        <div layout="column" flex="auto" flex-sm="100">

            <h1 hide show-xm-sm class="md-headline head-section white">Contact Us</h1>
            <h1 hide show-gt-sm class="md-display-1 head-section white">Contact Us</h1>
    
            <p class="md-body-1">For more information about our access and privacy policy or the Research Map project in general please email <a class="white" href="mailto:kias@ualberta.ca">kias@ualberta.ca</a></p>
            <p class="md-body-1 design-by">Design by Luciano Frizzera | 2017</p>

        </div> 
</section>