<!doctype html>
<html ng-app="app">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Netvis Setup</title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>

<body ng-controller="InstallCtrl as installCtrl" ng-init="init()">

    <md-content md-theme="appTheme">

        <div id="main" flex="auto">
            <h1 class="md-display-1">Netvis Setup</h1>
        </div>

        <section id="database" class="page" ng-show="status=='exist'">
                <h1 class="md-headline">Already Insalled</h1>
                <form layout="column" class="md-whiteframe-1dp">
                    <p class="md-body-1">You appear to have already installed Netvis. To reinstall please clear your old database first.</p>
                </form>

            </section>

        <section id="database" class="page" ng-show="status=='database'">
            <h1 class="md-headline">1. Setup Database</h1>

            <p class="md-body-1">First you need to provide some information for database connection.</p>

            <form class="md-whiteframe-1dp">
                <div layout="column">

                    <md-input-container class="input-custom">
                        <label>Database Name</label>
                        <input type="text"
                            required
                            ng-model="database.name"
                            aria-label="Database Name">
                    </md-input-container>

                    <md-input-container class="input-custom">
                        <label>User Name</label>
                        <input type="text"
                            required
                            ng-model="database.user"
                            aria-label="Database User">
                    </md-input-container>

                    <md-input-container class="input-custom">
                        <label>Password</label>
                        <input type="password"
                            required
                            ng-model="database.password"
                            aria-label="Database Password">
                    </md-input-container>

                </div>

                <div md-colors="::{color: 'appTheme-warn'}" ng-if="error">
                    <md-icon md-font-icon="material-icons md-18">warning</md-icon><br/>
                    Something went wrong. Please double check the information you provided.
                </div>

            </form>

            <md-button ng-click="getDatabaseInfo()"
                ng-disabled="getDatabaseDisable()"
                aria-label="Next">Next
                <md-icon md-font-icon="material-icons">arrow_forward</md-icon>
            </md-button>
        </section>

        <section id="project" class="page"  ng-show="status=='project'">
            <h1 class="md-headline">2. Project Information</h1>

            <p class="md-body-1">Great. Netvis is able to communicate with your database. Now, please provide the following information. Don't worry, you can alwasys change these setting later.</p>

            <form class="md-whiteframe-1dp">
                <div layout="column">

                    <md-input-container class="input-custom">
                        <label>Project Title</label>
                        <input type="text"
                            ng-model="project.title"
                            aria-label="Project Title"
                            value="Netvis">
                        <div class="hint">Optional.</div>
                    </md-input-container>

                    <!-- <md-input-container class="input-custom">
                        <label>Project URL</label>
                        <input type="text"
                            required
                            ng-model="project.url"
                            aria-label="Project URL">
                        <div class="hint">The url where you are installing netvis and from where it will be accessible. Ex: <i>http://www.yourdomain.com/netvis</i></div>
                    </md-input-container> -->

                </div>
            </form>

            <form class="md-whiteframe-1dp">
                    <div layout="column">
                        <md-input-container class="input-custom">
                            <label>Your Email</label>
                            <input type="text"
                                required
                                ng-model="user.email"
                                aria-label="User Email">
                            <div class="hint">This is your username.</div>
                        </md-input-container>
    
                        <md-input-container class="input-custom">
                            <label>Password</label>
                            <input type="password"
                                required
                                ng-model="user.password"
                                aria-label="User Password">
                            <div class="hint"><b>Important:</b> You need this password to login.</div>
                        </md-input-container>
    
                    </div>
                </form>

            <md-button ng-click="getProjectInfo()"
                ng-disabled="getProjectDisable()"
                aria-label="Next">Next
                <md-icon md-font-icon="material-icons">arrow_forward</md-icon>
            </md-button>
        </section>

        <section id="email-service" class="page"  ng-show="status=='emailService'">
                <h1 class="md-headline">3. Email Service</h1>

                <p class="md-body-1">Netvis uses email as the main communication tool to invite users and reset passwords.
                    You must setup a free account at <a href="https://sendgrid.com" target="_blank">SendGrid</a> to be able to deliver these emails.
                    Please, follow the instructions on their website and provide your unique API KEY bellow.
                    Don't worry, this will be securely stored in your database.</p> 
    
                <form class="md-whiteframe-1dp">
                    <div layout="column">
    
                        <md-input-container class="input-custom">
                            <label>SendGrid API KEY</label>
                            <input type="text"
                                required
                                ng-model="project.sendGridAPI"
                                aria-label="Send Grid API">
                        </md-input-container>
    
                    </div>
                </form>
    
                <md-button ng-click="install()"
                    ng-disabled="installDisable()"
                    aria-label="Install">Install Netvis
                </md-button>

                <div md-colors="::{color: 'appTheme-warn'}" ng-if="error">
                    <md-icon md-font-icon="material-icons md-18">warning</md-icon><br/>
                    Something went wrong. Please double check the information you provided.
                </div>
        </section>

        <section id="success"  ng-show="status=='success'">
            <md-icon md-font-icon="material-icons checked md-warn md-hue-1">check</md-icon>
            <p class="md-body-1"><strong>All done!</strong><br/>
            Use your email and password to access the website.</p>
            <md-button href="{{project.url}}"
                class="md-fab md-mini md-primary"
                title="{{project.title}}">
                <md-icon md-font-icon="material-icons">arrow_forward</md-icon>
            </md-button>
        </section>
                
    </md-content>

</body>

</html>