/* 1. MAIN */
#main {
  /*background-color: white;*/
  /*height: 100vh;  */
  text-align: center;
}

#title {
	/*position: absolute;*/
  max-height: 32px;
}

#title .md-title, #title .md-subhead, #title .md-body-2{
  margin: 0;
  padding: 0;
  text-align: center;
  /*white-space: nowrap;*/
}

#title .md-body-2{
   white-space: nowrap;
}

.hint {
  font-size: .8em;
  color: #666;
}


section { 
	text-align:center;
	margin-top: 4em;
}

h1 {
  font-weight: 100;
  color: #636363;
}

.page {
  width: 50%;
  margin: 0 auto;
}

form {
  text-align:left;
  width: 450px;
  margin: 1em auto;
  padding: .5em 2em;
	/*background: #fafafa;*/
  background: #ffffff;
}

.input-custom {
    margin-bottom: 0px;
}

#message {
    width: 240px;
    margin: 1em auto;
}

.md-18 {
    font-size: 18px;
}

.loader {
    width: 0%;
    margin: 10em auto;
}

#success {
    margin-top: 6em;
    height: 200px;
    
}

.checked {
    font-size:6em;
    margin-bottom: .3em;
}