<div id="layoutPage" class="side-content">
    
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2 class="md-tile">Layout</h2>
        </div>
    </md-toolbar>

    <md-content class="innerPage">
    
        <md-subheader class="md-accent">General</md-subheader>

        <md-content layout="column" flex layout-padding>

            <div layout="row" class="no-vertical-margin" layout-align="space-between center">
                <span class="md-body-1">Display</span>
                <md-select ng-model="netVisLayout.display"
                            ng-change="triggerLayoutUpdate('display')"
                            class="md-body-1 md-no-underline no-vertical-margin"
                            aria-label="Display Selection">
                    <md-option value="network">Network</md-option>
                    <md-option value="cluster">Cluster</md-option>
                </md-select>
            </div>

            <div layout="row"
                    class="no-vertical-margin"
                     ng-if="netVisLayout.display == 'cluster'"
                    layout-align="space-between center">
                <span class="md-body-1">Cluster</span>
                <md-select ng-model="netVisLayout.cluster"
                            ng-change="triggerLayoutUpdate('cluster')"
                            class="md-body-1 md-no-underline no-vertical-margin"
                            aria-label="Cluster Selection">
                    <md-option value="type">Type</md-option>
                    <md-option value="community">Community</md-option>
                </md-select>
            </div>

            <div layout="row" class="custom-slider no-vertical-margin" layout-align="space-between center">
                <label flex="33" class="md-body-1">Gravity</label>
                <md-slider-container >
                    <md-slider flex
                                class="md-warn"
                                min="0"
                                max="10"
                                step="0.1"
                                ng-model="netVisLayout.gravity"
                                ng-change="triggerLayoutUpdate('gravity')"
                                aria-label="gravity"></md-slider>
                </md-slider-container>
                <md-input-container class="no-vertical-margin custom-slider-text-input">
                    <input class="md-body-1 md-no-underline"
                            flex
                            type="number"
                            min="0"
                            max="10"
                            step="0.1"
                            ng-model="netVisLayout.gravity"
                            ng-change="triggerLayoutUpdate('gravity')"
                            aria-label="gravity"
                            aria-controls="gravity-slider">
                </md-input-container>
            </div>

            <div layout="row"
                 class="custom-slider no-vertical-margin"
                 layout-align="space-between center"
                 ng-if="netVisLayout.display == 'network'">
                <label flex="33" class="md-body-1">Charge</label>
                <md-slider-container>
                    <md-slider flex
                                class="md-warn"
                                min="-1200"
                                max="0"
                                step="20"
                                ng-model="netVisLayout.charge"
                                ng-change="triggerLayoutUpdate('charge')"
                                aria-label="charge-slider"></md-slider>
                </md-slider-container>
                <md-input-container class="no-vertical-margin custom-slider-text-input">
                    <input class="md-body-1 input-no-underline"
                            flex
                            type="number"
                            min="-1200"
                            max="0"
                            step="10"
                            ng-model="netVisLayout.charge"
                            ng-change="triggerLayoutUpdate('charge')"
                            aria-label="charge"
                            aria-controls="charge-slider">
                </md-input-container>
            </div>

            <div layout="row"
                 class="custom-slider no-vertical-margin"
                 layout-align="space-between center"
                 ng-if="netVisLayout.display == 'network'">
                <label flex="33" class="md-body-1">Distance</label>
                <md-slider-container>
                    <md-slider flex
                                class="md-warn"
                                min="0"
                                max="200"
                                step="2"
                                ng-model="netVisLayout.distance"
                                ng-change="triggerLayoutUpdate('distance')"
                                aria-label="distance-slider"></md-slider>
                </md-slider-container>
                <md-input-container class="no-vertical-margin custom-slider-text-input">
                    <input class="md-body-1"
                            flex
                            type="number"
                            min="0"
                            max="200"
                            step="1"
                            ng-model="netVisLayout.distance"
                            ng-change="triggerLayoutUpdate('distance')"
                            aria-label="distance"
                            aria-controls="distance-slider">
                </md-input-container>
            </div>

            <div layout="row" class="no-vertical-margin" layout-align="space-between center">
                <span class="md-body-1">Collision Detection</span>
                <md-switch class="no-vertical-margin md-warn"
                           ng-model="netVisLayout.collision"
                           ng-change="triggerLayoutUpdate('colission')"
                           aria-label="collision-switch"></md-switch>
            </div>

             <!--<div layout="row" class="no-vertical-margin" layout-align="space-between center">
                <span class="md-body-1">Community Detection</span>
                <md-switch class="no-vertical-margin"
                            ng-model="netVisLayout.communityDetection"
                            ng-change="triggerLayoutUpdate('community')"
                            aria-label="community-switch"></md-switch>
            </div>-->
            
        </md-content>

        <md-divider></md-divider>

        <md-subheader class="md-accent">Nodes</md-subheader>

        <md-content layout="column" flex layout-padding>

            <div layout="row" class="no-vertical-margin" layout-align="space-between center">
                <span class="md-body-1">Show Nodes</span>
                <md-switch class="no-vertical-margin md-warn"
                            ng-model="netVisLayout.showNodes"
                            ng-change="triggerLayoutUpdate('showNode')"
                            aria-label="show_nodes-switch"></md-switch>
            </div>

            <div layout="row"
                    class="no-vertical-margin"
                    ng-if="netVisLayout.showNodes"
                    layout-align="space-between center">
                <span class="md-body-1">Size</span>
                <md-select ng-model="netVisLayout.nodeSize"
                            ng-change="triggerLayoutUpdate('nodeSize')"
                            class="md-body-1 md-no-underline no-vertical-margin"
                            aria-label="Node Size Selection">
                    <md-option value="default">Default</md-option>
                    <md-option value="weight">Weight</md-option>
                </md-select>
            </div>

            <div layout="row"
                    class="custom-slider no-vertical-margin"
                    layout-align="space-between center"
                    ng-if="netVisLayout.showNodes">
                <label flex="33" class="md-body-1">Scale</label>
                <md-slider-container>
                    <md-slider flex
                                class="md-warn"
                                min="1"
                                max="10"
                                step="0.1"
                                ng-model="netVisLayout.nodeScale"
                                ng-change="triggerLayoutUpdate('nodeScale')"
                                aria-label="nodes_scale-slider">
                    </md-slider>
                </md-slider-container>
                <md-input-container class="no-vertical-margin custom-slider-text-input">
                    <input class="md-body-1"
                            flex
                            type="number"
                            min="1"
                            max="10"
                            step="0.1"
                            ng-model="netVisLayout.nodeScale"
                            ng-change="triggerLayoutUpdate('nodeScale')"
                            aria-label="nodes_scale"
                            aria-controls="nodes_scale-slider">
                </md-input-container>
            </div>

            <div layout="row"
                    class="no-vertical-margin"
                    ng-if="netVisLayout.showNodes"
                    layout-align="space-between center">
                <span class="md-body-1">Color</span>
                <md-select ng-model="netVisLayout.nodeColor"
                            ng-change="triggerLayoutUpdate('nodeColor')"
                            class="md-body-1 md-no-underline no-vertical-margin"
                            aria-label="Node Color Selection">
                    <md-option value="default">Default</md-option>
                    <md-option value="type">Type</md-option>
                    <md-option value="community">Community</md-option>
                </md-select>
            </div>

        </md-content>

        <md-divider></md-divider>

        <md-subheader class="md-accent">Titles</md-subheader>

        <md-content layout="column" flex layout-padding>

            <div layout="row"
                    class="no-vertical-margin"
                    layout-align="space-between center">
                <span class="md-body-1">Show Titles</span>
                <md-switch class="no-vertical-margin md-warn"
                            ng-model="netVisLayout.showTitles"
                            ng-change="triggerLayoutUpdate('showTitles')"
                            aria-label="show_titles-switch"></md-switch>
            </div>

            <div layout="row"
                    class="no-vertical-margin"
                    layout-align="space-between center"
                    ng-if="netVisLayout.showTitles">
                <span class="md-body-1">Scale</span>
                <md-switch class="no-vertical-margin md-warn"
                            ng-model="netVisLayout.titleScale"
                            ng-change="triggerLayoutUpdate('titleScale')"
                            aria-label="title_scale-switch"></md-switch>
            </div>

            <div layout="row"
                    class="no-vertical-margin"
                    layout-align="space-between center"
                    ng-if="netVisLayout.showTitles">
                <span class="md-body-1">Inherit color</span>
                <md-switch class="no-vertical-margin md-warn"
                            ng-model="netVisLayout.titleInheritColor"
                            ng-change="triggerLayoutUpdate('titleInheritColor')"
                            aria-label="title_scale-switch"></md-switch>
            </div>
            
        </md-content>

        <md-divider></md-divider>

        <md-subheader class="md-accent">Links</md-subheader>

        <md-content layout="column" flex layout-padding>

            <div layout="row" class="no-vertical-margin" layout-align="space-between center">
                <span class="md-body-1">Show Links</span>
                <md-switch class="no-vertical-margin md-warn"
                            ng-model="netVisLayout.showLinks"
                            ng-change="triggerLayoutUpdate('showLinks')"
                            aria-label="show_links-switch"></md-switch>
            </div>

            <div layout="row"
                    class="no-vertical-margin"
                    ng-if="netVisLayout.showLinks"
                    layout-align="space-between center">
                <span class="md-body-1">Thickness</span>
                <md-select ng-model="netVisLayout.linkThickness"
                            ng-change="triggerLayoutUpdate('linkThickness')"
                            class="md-body-1 md-no-underline no-vertical-margin"
                            aria-label="Link Thickness Selection">
                    <md-option value="default">Default</md-option>
                    <md-option value="weight">Weight</md-option>
                </md-select>
            </div>

            <div layout="row"
                    class="no-vertical-margin"
                    ng-if="netVisLayout.showLinks"
                    layout-align="space-between center">
                <span class="md-body-1">Color</span>
                <md-select ng-model="netVisLayout.linkColor"
                            ng-change="triggerLayoutUpdate('linkColor')"
                            class="md-body-1 md-no-underline no-vertical-margin"
                            aria-label="Link Color Selection">
                    <md-option value="default">Default</md-option>
                    <md-option value="community">Community</md-option>
                </md-select>
            </div>

            <div layout="row"
                    class="no-vertical-margin"
                    ng-if="netVisLayout.showLinks"
                    layout-align="space-between center">
                <span class="md-body-1">Strenght</span>
                <md-select ng-model="netVisLayout.linkStrenght"
                            ng-change="triggerLayoutUpdate('linkStrenght')"
                            class="md-body-1 md-no-underline no-vertical-margin"
                            aria-label="Link Strenght Selection">
                    <md-option value="min">Min</md-option>
                    <md-option value="max">Max</md-option>
                </md-select>
            </div>
            
        </md-content>

        <md-divider></md-divider>

        <md-subheader class="md-accent">For Fun</md-subheader>

        <md-content layout="column" flex layout-padding>

            <div layout="row" class="no-vertical-margin" layout-align="space-between center">
            <span class="md-body-1">Dark Theme</span>
            <md-switch class="no-vertical-margin md-warn"
                        ng-model="darkTheme"
                        ng-change="triggerLayoutUpdate('changeColorTheme')"
                        aria-label="color-theme-switch"></md-switch>
            </div>

            <div layout="row" class="no-vertical-margin" layout-align="space-between center">
            <span class="md-body-1">Gooey FX</span>
            <md-switch class="no-vertical-margin md-warn"
                        ng-model="netVisLayout.gooeyFX"
                        ng-change="triggerLayoutUpdate('gooeyFX')"
                        aria-label="gooeyFX-switch"></md-switch>
            </div>

         </md-content>

    </md-content>
    
</div>