<section id="top" layout="row" layout-align="center center" flex="auto">

    <div flex="5">
    </div>
    
    <div id="main-top" flex="auto">
        <div id="title"
            layout-padding
            ng-class="{headerDark: darkTheme}"
            md-colors="::{color: '{{theme}}-primary'}">
            <h2 class="md-title">{{project.title}}</h2>
        </div>
    </div> 

    <div flex="nogrow">
        <md-button id="logout-button"
            class="login-button"
            ng-if="user.logged"
            ng-click="logout()">
            <md-icon md-svg-icon="assets/icons/singned.svg"></md-icon> Logout
            <md-tooltip md-direction="bottom" md-delay="1000">Logout</md-tooltip>
        </md-button>
        <md-button id="login-button"
            class="md-icon-button md-primary"
            ng-click="login()"
            ng-if="!user.logged">
            <md-icon md-svg-icon="assets/icons/signin.svg"></md-icon>
            <md-tooltip md-direction="bottom" md-delay="1000">Login</md-tooltip>
        </md-button>
        <md-button class="md-icon-button md-primary"
            ng-click="toggleSideBar()">
            <md-icon md-font-icon="material-icons">menu</md-icon>
            <md-tooltip md-direction="bottom" md-delay="1000">Menu</md-tooltip>
        </md-button>
    </div>
</section>

<md-divider></md-divider>

<div id="main" layout="row" flex="auto">
    
    <section id="stage" flex="auto">
            
        <div id="vis-empty"
             ng-if="netVis.nodes.length == 0"
             class="centered-axis-x"
             flex="auto"
             layout="row"
             layout-align="center center">
             <div md-colors="::{color: '{{theme}}-primary-400'}" style="text-align:center">
                <h1 class=".md-display-4"
                    style="font-size:30px">
                    <span ng-bind-html="emptyCanvas.message"></span>
                </h1>
             </div>
        </div>

        <div id="viz-port" flex="auto" ng-controller="NetworkCtrl as networkCtrl">
            <!--<div id="graphInfo"></div>-->
            <div id="graph"><div>
        </div>

    </section>

    <section id="side" flex="none" ng-show="sideBarOpen">
    
        <div id="navTab">

            <md-tabs md-align-tabs="bottom"
                     md-no-pagination="false"
                     md-center-tabs="true"
                     md-selected="tabSelected">
                <md-tab id="tab1" md-active="tabTagsActive">
                    <md-tab-label>
                        <md-icon md-svg-icon="assets/icons/tags.svg"></md-icon>
                        <!-- <md-tooltip md-direction="top" md-delay="delayTooltip">Tags</md-tooltip> -->
                    </md-tab-label>
                    <md-tab-body>
                        <div ng-include="'components/tag/tags.html'"></div>
                    </md-tab-body>
                </md-tab>
                <md-tab id="tab2">
                    <md-tab-label>
                        <md-icon md-svg-icon="assets/icons/layout.svg"></md-icon>
                        <md-tooltip md-direction="top" md-delay="delayTooltip">Layout</md-tooltip>
                    </md-tab-label>
                    <md-tab-body>
                        <div ng-include="'components/layout/layout.html'"></div>
                    </md-tab-body>
                </md-tab>
                <md-tab id="tab3">
                    <md-tab-label>
                        <md-icon md-svg-icon="assets/icons/export.svg"></md-icon>
                        <md-tooltip md-direction="top" md-delay="delayTooltip">Export</md-tooltip>
                    </md-tab-label>
                    <md-tab-body>
                        <div ng-include="'components/export/export.html'"></div>
                    </md-tab-body>
                </md-tab>
                <md-tab id="tab4"
                    md-on-select="changeTabSelection('import')"
                    ng-if="checkUserLevel(1)">
                    <md-tab-label>
                        <md-icon md-svg-icon="assets/icons/import.svg"></md-icon>
                        <md-tooltip md-direction="top" md-delay="delayTooltip">Import</md-tooltip>
                    </md-tab-label>
                    <md-tab-body>
                        <div ng-include="'components/import/import.html'"></div>
                    </md-tab-body>
                </md-tab>
                <md-tab id="tab5"
                        ng-if="checkUserLevel(0)"
                        ng-click="initSettings()">
                    <md-tab-label>
                        <md-icon md-svg-icon="assets/icons/settings.svg"></md-icon>
                        <md-tooltip md-direction="top" md-delay="delayTooltip">Settings</md-tooltip>
                    </md-tab-label>
                    <md-tab-body>
                        <div ng-include="'components/settings/settings.html'"></div>
                    </md-tab-body>
                </md-tab>
                <md-tab id="tab6">
                    <md-tab-label>
                        <md-icon md-font-icon="material-icons">help_outline</md-icon>
                        <md-tooltip md-direction="top" md-delay="delayTooltip">Help</md-tooltip>
                    </md-tab-label>
                    <md-tab-body>
                            <div ng-include="'components/help/help.html'"></div>
                    </md-tab-body>
                </md-tab>
            </md-tabs>

        </div>

    </section>

</div>

